/* Animaciones */
@keyframes showImg {
    from{
        opacity: 0;   
    }
    to{
        opacity: 1;
    }
}
@keyframes showDiv{
    from{
        
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;   
    }
}

@keyframes disapear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}

.kario_logo{
    width: 100px;
}

body{
    width: 98%;
    height: 96vh;
    background-image: url("../assets/imgs/pexels-pixabay-159400.png");
    background-color: black;
    
    
}
.container_img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: showImg 2s, disapear 2s 2s;
    animation-fill-mode: forwards;
}
.kario_logo{
    width: 100px;
}

.inicio{
    display: block;
    text-align: center;
    justify-self: center;
    align-self: center;
    visibility: hidden;
    animation: showDiv 2s 4s;
    animation-fill-mode: forwards;
    background-color: white;
    width: fit-content;
    height: min-content;
    padding: 2% 10% 5%;
    border-radius: 50px;
    margin-top: 15%;
}
@media (max-width: 600px) {
    .inicio{
        margin-top: 50%;
    }
}
